@model Libraries

<form method="post" enctype="multipart/form-data">
	<div class="row pb2">
		<h2 class="text-primary">Create Book</h2>
		<hr />
	</div>
	<div asp-validation-summary="All"></div>
	<div class="mb-3">
		<label asp-for="ArticleName"></label>
		<input asp-for="ArticleName" class="form-control" />
		<span asp-validation-for="ArticleName" class="text-danger" />
	</div>
	<div class="mb-3">
		<label asp-for="UserName"></label>
		<input readonly value="@ViewBag.UserName" asp-for="UserName" />
		<span asp-validation-for="UserName" class="text-danger" />
	</div>
	

	<div class="mb-3">
		<label asp-for="Description"></label>
		<textarea asp-for="Description" class="form-control" ></textarea>
		<span asp-validation-for="Description" class="text-danger" />
	</div>
	<div class="mb-3">
		<label>Select an Image:</label>
		<input type="file" name="postedImage" accept="image/png, image/gif, image/jpeg" class="form-control-file" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Create</button>
	</div>

</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}