@model IEnumerable<Libraries>
@{
    ViewData["Title"] = "Index";
}
 

<div class="justify-content-between d-flex">
    <div >
        <h2 class="text-primary ">Library</h2>


    </div>
    <div >
        <a asp-controller="Liberary" asp-action="Create" class="btn btn-primary ">
            Create New Book
        </a>
    </div>
</div>
<div class="container p-3">



        

   

        <div class="row">
        @foreach (var obj in Model)
        {
            <div class="col-lg-2 col-lg-4 col-md-6 col-xs-12 p-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <a asp-controller="Liberary" asp-action="ViewContent" asp-route-id="@obj.Id">
                                <img src="@obj.ImgPath" class="img-fluid" style="height: 250px;" alt="@obj.ArticleName" />
                                <div class="text-primary text-center">
                                    <h5>@obj.ArticleName</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
