@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>my short articles is a platform where anyone can create their articles and upload anonymously.<br/>
        This website was made purely for educational purposes of demonstrating full stack development skills by our indie developer<a href="https://www.linkedin.com/in/shaik-abid-hussain-a5552b1b9/"> Shaik Abid Hussain</a>.This is an ASP.Net MVC web application connected to MSSQL database . Now that you are here, visit library and create one article by yourself.
        The posted articles are stored in Library         
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
